html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}
  
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}
  
button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
}
  
button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px; /* Adjust the width as needed */
    height: 500px;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* gap: 0; */
  }
  
  .grid-element {
    width: 20px; 
    height: 20px;
    border: 1px solid black; 
    margin: 0; 
  }


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
  
/* MEDIA QUERIES */
  
  @media (max-width: 1200px) {
    .main {
      justify-content: center;
    }
  }
  
  @media (max-width: 850px) {
    .main {
      gap: 50px;
    }
  
    .settings {
      width: 150px;
      gap: 16px;
    }
  
    .size-value {
      margin-bottom: -4px;
    }
  
    .grid {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (max-width: 650px) {
    .title {
      font-size: 50px;
    }
  
    .main {
      flex-direction: column-reverse;
    }
  
    .grid {
      width: 300px;
      height: 300px;
    }
  }